h1{

    color:lime;
    font-family: cursive;

}
table{
    
    border:5px groove black;
    line-height: 5em;

}
thead{
    background-color: lightblue;
}
tbody{
    background-color: yellow;
    color: maroon;
    font-weight:bolder;
}







































